/* App.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f7f7f7; /* 更柔和的背景色 */
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 向上对齐 */
  align-items: center;
  font-family: Arial, sans-serif;
  padding-top: 50px; /* 增加顶部内边距，使标题靠上 */
}

.App-header {
  background-color: #00796b; /* 更深的绿色调 */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 300px; /* 调整标题与按钮之间的间距 */
}

.App-header h1 {
  color: white;
  font-size: 2.5rem;
  margin: 0;
}

button {
  background-color: #009688; /* 按钮颜色 */
  color: white;
  border: none;
  padding: 12px 24px; /* 合理的内边距 */
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s; /* 添加点击效果 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #00897b; /* 按钮悬停时的颜色变化 */
}

button:active {
  background-color: #00796b; /* 按钮点击时的颜色变化 */
  transform: scale(0.98); /* 按钮按下时稍微缩小 */
}
