/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

div {
    padding: 15px;
}

/* 标题样式 */
h1 {
    color: #0056b3;
    text-align: center;
}

h3 {
    border-bottom: 2px solid #0056b3;
    color: #0056b3;
    padding-bottom: 5px;
}

/* 表单样式 */
form {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    color: #0056b3;
    font-weight: bold;
    padding: 0 5px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    width: 48%; /* 使得两个输入框可以在同一行显示 */
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px; /* 增加按钮的大小 */
    font-size: 12px; /* 增加字体大小 */

}

label {
    margin-right: 10px;
    font-weight: bold;
    color: #333; /* Dark grey color for text */
}

select {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    width: 43%;

    border: 1px solid #ccc; /* Light grey border */
    background-color: white;
}

.submit{
    font-size: 18px; /* 增加字体大小 */
    padding: 12px 24px; /* 增加按钮的大小 */

    display: block; /* 使按钮居中 */
    margin: 20px auto; /* 上下保持20px的间距，水平居中 */
}
button:hover {
    background-color: #004494;
}

/* 特定部分的样式，如地址信息部分 */
.address-info {
    font-style: italic;
    color: #555;
}

/* 特定布局调整，使检测项目输入框两个一行 */
.test-item-group {
    display: flex;
    justify-content: space-between;
}

.test-item-group label {
    flex: 1 1 45%; /* 调整以适应两个输入框一行 */
    margin-right: 10px; /* 为标签添加右边距 */
}

.test-item-group label:last-child {
    margin-right: 0;
}







/* 表格样式的检测项目 */
.test-item-table {
    width: 100%;
    border-collapse: collapse;
}

.test-item-table th, .test-item-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.test-item-table select{
    width: 180px;
}
.test-item-table th {
    background-color: #f8f9fa;
}

.add-remove-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button, .remove-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #0056b3;
    font-size: 20px;
    margin: 0 5px;
}


.input-price {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* 限制输入框的宽度 */
}

.input-price:focus {
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0,86,179,0.2);
}


@media print {
    body, html {
        margin: 0;
        padding: 0;
        background-color: white;
        font-family: 'Arial', sans-serif;
    }

    div, form {
        margin: 0;
        padding: 5px;

    }

    h1, h2, p {
        font-size: 6pt;
        margin-top: 2px;
        margin-bottom: 2px;
        font-weight: bold; /* 标题加粗 */
    }

    h3 {
        font-size: 10px;
        color: black;
    }
    label {
        font-size: 9pt;
        display: block;
        width: 48%;
        border: 1px slid black;
        margin-bottom: 5px; /* 减少标签之间的间距 */
        padding: 0px;

    }

    input[type="text"], input[type="number"], input[type="email"], select {
        width: 80%;
        max-width: none;
        height: 25px;
        padding: 2px 5px;
        margin: 0;
        border: 1px solid #ccc; /* 给输入框加上边框 */
        box-sizing: border-box;
        font-size: small;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        min-width: 120px; /* 每个单元格的最小宽度 */

        padding: 2px;
        text-align: left;
        font-size: 8pt;
    }

    .add-button, .remove-button, #operation, button, .add-remove-buttons, .hide-on-print {
        display: none;
    }

    fieldset {
        border: 1px solid #aaa;
        margin-bottom: 5px;
        padding: 5px;
        display: flex;
        justify-content: space-around;
    }
    legend {
        color: black;
        font-size: 10px;
    }


    .block{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }


    /* 表格样式的检测项目 */
    .test-item-table {
        width: 100%;
        border-collapse: collapse;
    }

    .test-item-table th, .test-item-table td {
        max-width: none;
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    .test-item-table select{
        width: 90px;
    }

    .num{
        display: none;
    }
}

